<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect-4 Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="game-container">
    <h1>Connect-4</h1>

    <!-- Mode Selection Buttons -->
    <button id="normal-mode-button">Player First</button>
    <button id="challenging-mode-button">AI First</button>

    <!-- Game Control Buttons -->
    <button id="reset-button" style="display: none;">Restart Game</button>
    <button id="menu-button" style="display: none;">Menu</button>

    <!-- Board Container -->
    <div id="board"></div>
    <p id="status">Select a game mode to begin!</p>
</div>



    <script src="../static/script2.js"></script>
</body>
</html>


